<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-start">
      <div class="card m-3">
        <div class="card-body">
          <a routerLink="/inline-editing">Inline Editing</a>
        </div>
      </div>

      <div class="card m-3">
        <div class="card-body">
          <a routerLink="/dynamic-control">Dynamic Control</a>
        </div>
      </div>

       <div class="card m-3">
        <div class="card-body">
          <a routerLink="/combine-latest">Shopping Cart Filter using RxJS Combine Latest</a>
        </div>
      </div>

    </div>
  </div>
</div>
