<div class="container">
  <div class="row">
    <div class="col-md-12 text-center border">
      <h1 class="my-3">Screen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 border my-3 seating-area" *ngIf="sideA">
      <app-seat *ngFor="let seat of sideA" [seat]="seat"></app-seat>
    </div>
    <div class="col-md-2 text-center">Stairs</div>
    <div class="col-md-5 border my-3 seating-area" *ngIf="sideB">
      <app-seat *ngFor="let seat of sideB" [seat]="seat"></app-seat>
    </div>
  </div>
</div>
