<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center border rounded border-primary my-3">
            <h1 class="m-0">Inline Editing</h1>
            <mat-icon class="pointer text-primary" (click)="addEmptyRow()">add_box</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="form">
                <table mat-table [dataSource]="dataSource.value" class="mat-elevation-z8" formArrayName="lines">

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                          <input type="text" formControlName="name" class="mx-3" />
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                          <input type="text" formControlName="email" class="mx-3" />
                      </td>
                    </ng-container>

                      <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                          <mat-icon class="pointer mx-1 text-success">edit</mat-icon>
                          <mat-icon class="pointer mx-1 text-danger" (click)="deleteRow(element, index)">delete_outline</mat-icon>
                          <mat-icon class="pointer mx-1 text-primary" (click)="selectRow(element)">remove_red_eye</mat-icon>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </form>
        </div>

        <div class="col-md-4">
            <span *ngIf="selectedJSON"> {{ selectedJSON | json }}</span>
        </div>
    </div>
</div>
